<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

  <%- partial('../error.ejs') %>

  <div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
      <form method="post" action="emailPass" style="margin:2em;">
        <div class="form-group">
          Please enter an email associated with your login to request an email for a temporary password.
        </div>
        <div class="form-group">
          <label class="control-label">Email</label>
          <input type="text" name="email" placeholder="email" class="form-control" />
        </div>

        <div class="form-group">
          <button class="btn btn-primary form-control" type="submit">Reset Password</button>
        </div>

      </form>


    </div>
  </div>

</div>
