body{
  background:url(/images/pexels-photo-106399.jpeg) no-repeat center center fixed;
  background-size: cover;
  position:absolute;
  top:0;
  z-index: -10000;
  height:100%;
  width:100%;
}

#cover{
  width:100%;
  text-align: center;
  color:#fff;
}
#cover > h1, #cover > p{
  text-shadow: 2px 2px 2px #000;
}

body > section{
  background-color: #fff;

}
body > section:first-of-type{
  min-height:100%;
}

nav.navbar + * {
  padding-top:50px;
  margin-top:1em;
}

#listings h2{
  text-align: center;
  padding: 1em;
}
#listings h3{
  margin-top:0;
}
#listings p,#listings h4{
  margin:0;
}
#listings .row{
  margin-left: 1em;
  margin-right: 1em;
}
#listings span{
  padding:1em;
  height:300px;
  border:1px solid #aaa;
  border-radius: 5px;
  margin:1em;
}
#listings img{
  width:100%;
}
